
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1490856847533'); /* IE9*/
  src: url('iconfont.eot?t=1490856847533#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1490856847533') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1490856847533') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1490856847533#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-qq:before { content: "\e60d"; }
.icon-apple:before { content: "\e61a"; }
.icon-android:before { content: "\e61b"; }
.icon-plus:before { content: "\e615"; }
.icon-chevronright:before { content: "\e604"; }
.icon-cog:before { content: "\e605"; }
.icon-gift:before { content: "\e601"; }
.icon-chevronup:before { content: "\e606"; }
.icon-repeat:before { content: "\e607"; }
.icon-more:before { content: "\e608"; }
.icon-cogs:before { content: "\e609"; }
.icon-qrcode:before { content: "\e60a"; }
.icon-weibo:before { content: "\e61c"; }
.icon-chevronleft:before { content: "\e60c"; }
.icon-chevrondown:before { content: "\e60f"; }
.icon-Zambia:before { content: "\e622"; }
.icon-arrowdown:before { content: "\e612"; }
.icon-arrowup:before { content: "\e613"; }
.icon-weixin:before { content: "\e617"; }
.icon-yaoqing:before { content: "\e619"; }
.icon-zuanshi:before { content: "\e614"; }
.icon-biaoqing:before { content: "\e616"; }
