body{-webkit-text-size-adjust:none}
h1{font-size:18px;font-weight:500;line-height:140%;margin:5px 0px 15px 0px;padding:0px}
#Wrapper .content{min-width:310px;width:auto;padding:5px}
#Top{padding:0px 5px 0px 5px}
#Top .content{min-width:310px;width:auto}
#Bottom .content{min-width:310px;width:auto}
.header{padding:5px}
.cell{padding:5px;word-break:break-all}
.cell_ops{padding:6px}
.subtle{padding:5px}
.inner{padding:5px;word-break:break-all}
.caution{padding:5px}
.sl{width:200px}
.ml{width:210px}
.mll{width:100%;padding:0px;margin:0px -1px 0px -1px}
.mle{width:100%;padding:0px;margin:0px -1px 0px -1px}
.msl{width:100%;padding:0;}
.tall{height:220px}
.imgly{max-width:280px}
.super.button{font-size: 12px;padding:2px 4px 2px 4px;}
a.tab:link,a.tab:visited,a.tab:active{display:inline-block;font-size:13px;line-height:16px;padding:5px 6px 5px 6px;margin-right:5px;border-radius:3px;color:#555}
a.tab:hover{background-color:#f5f5f5;color:#000;text-decoration:none}
a.tab_current:link,a.tab_current:visited,a.tab_current:active{display:inline-block;font-size:13px;line-height:16px;padding:5px 6px 5px 6px;margin-right:5px;border-radius:3px;background-color:#334;color:#fff}
a.tab_current:hover{background-color:#445;color:#fff;text-decoration:none}
.imgly{max-width:100%}
.markdown_body>p>img,.markdown_body img{max-width:100%}
.problem{padding:5px;font-size:12px;}
.outdated{padding:5px;font-size:12px;}
.message{padding:5px;font-size:12px;}

.reply_content>p>img,.reply_content img{max-width:100%}
.payload img{max-width:100%}

#form{font-size:12px;line-height:150%;text-align:left;padding:10px 0;}
#form .form-group { padding: 5px 0;}
#form .control-label{float: left;display: inline-block;width: 85px;text-align: right;line-height: 30px;padding-right: 10px;}
#form .sl{float: left;display: inline-block;margin-top: 2px;width: 180px;}
#form span,#form button{margin-left: 95px;display: block;}
#form .field-loginform-rememberme{display: block;height: 20px;padding-left: 100px;}
#form .form-group textarea{resize: none;height:90px;overflow: auto;}
#form .field-userinfo-about{height:100px;}
#form .help-block{clear: both;display: block;font-size:12px;}
#form .help-block-error{display: block;line-height:35px; text-align:left;background:#ffffc0 url("../images/error.png");padding-left: 10px;color:#333;}
#form .super.button{padding:4px 8px 4px 8px;}
.form{font-size:12px;line-height:150%;text-align:left;padding:0;}
.form .form-group {width: 100%;display: block;padding: 5px 0;}
.form .control-label{float: left;display: inline-block;width: 80px;text-align: right;line-height: 30px;padding-right: 10px;}
.form .sl{margin-top: 2px;width: 180px;}
.form .form-group textarea{resize: none;min-height:100px;}
.form .help-block{clear: both; display: block; font-size:12px;color: #ccc;padding-left: 110px;}
.form .select2-container{border:none;padding: 0;width: 190px;}
#fileuploader{margin-top: -25px;}
#new .help-block{display: block;line-height:34px;text-align:left;background:#ffffc0 url("../images/error.png");padding-left: 10px;color:#333;}
.tagit{padding: 0;margin: 0;border:none;font-size:12px;background-color:#f9f9f9;border-bottom:1px solid #e2e2e2;}
.ckbox{display: inline-block;padding-right: 10px;font-size:14px;}
.move .control-label{display: block; padding:10px;font-size:12px;line-height:120%;text-align:left;border-bottom:1px solid #e2e2e2}
#form .select2-container.sl{border:none;padding: 0;}
#form a.select2-choice>span{float: left;margin: 0;width: 300px;}
.set button{margin-left: 0 !important;}
.mycss>.form-group{height: 100%;min-height: 100px;}
.form .tip{padding-left: 70px;}
.auth-link .icon-qq,.auth-link .icon-weibo{font-size: 34px;line-height: 40px;}
.auth-link .icon-qq{color: #12b7f5;}
.auth-link .icon-weibo{color: #eb7350;}
.auth-link:hover{text-decoration: none;}

.smd-toolbar{padding-top: 10px; }
.smd-toolbar > a.icon-block {padding: 4px 5px;cursor: pointer;color: #000;}
.smd-preview{min-height: 200px;background-color:#eee;border-radius: 3px; font-size:14px;line-height:20px;padding: 0;}
textarea.smd-input{width:100%;height:100%;min-height:200px;border:solid 1px #cccccc;padding:0px;resize:none}
.wysibb-body{border-top: #e2e2e2 1px solid;font-size:12px;min-height: 200px!important;padding: 2px;}
.wysibb .wysibb-toolbar {display: block;padding: 0}
.wysibb-texarea{line-height: 20px;}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn{height: 30px;min-width: 20px;margin: 0px;}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-inner {display: block;height: 16px;min-width: 16px;margin: 0px;}
.wysibb-texarea, .wysibb-texarea:active{width: 98%!important;border: #e2e2e2 1px solid!important;padding: 2px;}
.ajax-file-upload{margin-top: 3px;font-size:12px;padding:2px 4px 2px 4px; }
.ajax-file-upload-statusbar{width: 45%;}
.rc .smd-preview{min-height: 200px;background-color:#eee;border-radius: 3px; font-size:14px;line-height:20px;padding: 0;}
.side{overflow: hidden;}
.side a{margin: 2px;display: block;float: left;}
.nav{margin-top: 5px;}
.sortid{width: 30px;}
#signupform-captcha,#loginform-captcha{width: 80px !important;}
.sll{width: 100%; font-size:12px;padding:5px 0;}
.qqFace{ max-width: 280px;}
.view .hljs{width: 100%}
@media (max-width: 760px) {
.rc pre{max-width:300px;}
}
.page .pagination a,.page .pagination .disabled{width: 65px;font-weight: bold;border-radius: 3px; border: 1px solid rgba(80,80,90,0.2);}

#Top .content{position: relative;}
#floatButton{position:fixed;z-index:9999;right: 10px;bottom:100px;}
#floatButton .btn:focus{outline:0}
.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:2px 2px;font-size:14px;line-height:1.42857143;border-radius:2px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn:hover,.btn:focus,.btn.focus{color:#333333;text-decoration:none}
.btn:active,.btn.active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);box-shadow:inset 0 3px 5px rgba(0,0,0,0.125)}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none}
a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}
.btn-default{color:#333333;background-color:#ffffff;border-color:#cccccc}
.btn-default:focus,.btn-default.focus{color:#333333;background-color:#e6e6e6;border-color:#8c8c8c}
.btn-default:hover{color:#333333;background-color:#e6e6e6;border-color:#adadad}
.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default{color:#333333;background-color:#e6e6e6;border-color:#adadad}
.btn-default:active:hover,.btn-default.active:hover,.open > .dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open > .dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open > .dropdown-toggle.btn-default.focus{color:#333333;background-color:#d4d4d4;border-color:#8c8c8c}
.btn-default:active,.btn-default.active,.open > .dropdown-toggle.btn-default{background-image:none}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{background-color:#ffffff;border-color:#cccccc}
.btn-group-vertical > .btn,.btn-group-vertical > .btn-group,.btn-group-vertical > .btn-group > .btn{display:block;float:none;width:100%;max-width:100%}
.btn-group-vertical > .btn-group > .btn{float:none}
.btn-group-vertical > .btn + .btn,.btn-group-vertical > .btn + .btn-group,.btn-group-vertical > .btn-group + .btn,.btn-group-vertical > .btn-group + .btn-group{margin-top:-1px;margin-left:0}
.btn-group-vertical > .btn:not(:first-child):not(:last-child){border-radius:0}
.btn-group-vertical > .btn:first-child:not(:last-child){border-top-right-radius:2px;border-bottom-right-radius:0;border-bottom-left-radius:0}
.btn-group-vertical > .btn:last-child:not(:first-child){border-bottom-left-radius:2px;border-top-right-radius:0;border-top-left-radius:0}
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn{border-radius:0}
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child,.btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle{border-bottom-right-radius:0;border-bottom-left-radius:0}
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child{border-top-right-radius:0;border-top-left-radius:0}
